.pageWrapper {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  flex-direction: column;
  padding-top: 160px;
  gap: 16px;
  background-color: #f5f6f8;
}

.logo {
  width: 207px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.logoText {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: normal;
  color: #3d5170;
}

.main {
  box-shadow: 0 3.5px 35px 0 #5a61691a;
  border-radius: 9px;
  background-color: #fff;
  width: 376px;
  height: max-content;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  padding-top: 0;
}

.cardHeader {
  height: 59px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 59px;
  letter-spacing: normal;
  text-align: center;
  color: #3d5170;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.authLabel {
  color: #495057;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}

.authEmail,
.authPassword {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  height: max-content;
}

.input {
  padding-left: 32px;
  width: 100%;
  height: 29px;
  border-radius: 3px;
  border: 0.5px solid #becad6;
}

.inputPassword {
  padding-left: 12px;
  padding-right: 36px;
  border: none;
  width: 100%;
  height: 100%;
}

.password {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 29px;
  border-radius: 3px;
  border: 0.5px solid #becad6;
}

.password:active {
  border: 1px solid var(--color-black);
}

.togglePassword {
  position: absolute;
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  right: 8px;
}

.error {
  color: #007bff;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
}

.authButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: #007bff;
}

.buttonEnter {
  border: none;
  background-color: #007bff;
  width: 110px;
  height: 29px;
  border-radius: 4px;
  border-width: 0.5px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-bg);
}

@media (width <= 400px) {
  .main {
    width: 300px;
  }
}
