*{
    margin: 0;
    padding: 0;
}

.main {
  position: relative;
  padding-left: 64px;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px 32px 1fr;
  width: 100vw;
  justify-content: center;
  background-color: var(--color-bg);
}

.orderContainer{
  width: calc(100% - 128px);
  max-width: 1248px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows:1fr;
}

.orderSideContainer{
  padding-left:32px;
  border-left: 1px solid var(--color-gray-light);
}

.orderConfirm{
  height: 192px;
}

.orderTitle{
  margin-top: 32px;
  justify-self: end;
}

.orderPoint{
  display: flex;
  gap: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  justify-self: start;
  margin-top: 32px;
  color: var(--color-gray);
}

.orderPointText{
  color: var(--color-black);
}

.orderTotal{
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

.orderPrice{
  font-weight: 400;
}

.orderButton{
  margin-top: 32px;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  background-blend-mode: darken;
  width: 287px;
  height: 48px;
  opacity: 1;
  border-radius: 8px;
  border-width: 0px;
  color: var(--color-bg);
}