*{
    margin: 0;
    padding: 0;
}

.pageWrapper {
  position: relative;
  padding-left: 64px;
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px 32px 1fr;
  justify-content: center;
  background-color: var(--color-bg);
}

.main {
  display: contents;
}

.orderContainer{
  width: calc(100% - 128px);
  max-width: 1248px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows:1fr;
}

.orderSideContainer{
  padding-left:32px;
  border-left: 1px solid var(--color-gray-light);
}

.orderConfirm{
  height: 192px;
}

.orderTitle{
  margin-top: 32px;
  justify-self: end;
}

.orderPoint{
  display: flex;
  gap: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  justify-self: start;
  margin-top: 32px;
  color: var(--color-gray);
}

.orderPointInactive{
  display: none;
}

.orderPointText{
  color: var(--color-black);
}

.orderTotal{
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

.orderPrice{
  font-weight: 400;
}

.orderButton{
  margin-top: 32px;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  background-blend-mode: darken;
  width: 287px;
  height: 48px;
  opacity: 1;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-bg);
  cursor: pointer;
}

.orderButton:disabled {
  background: var(--color-gray-light);
  cursor: not-allowed;
}

@media (width <= 1024px) {
  .pageWrapper {
    padding-left: 64px;
  }

  .orderContainer {
    width: 100%;
    padding: 0 32px;
  }
}
@media (width <= 768px) {
  .pageWrapper {
    padding-left: 86px;
    height: auto;
    min-height: 100dvh;
  }

  .orderContainer {
    grid-template-columns: 1fr;
    padding: 0 32px;
  }

  .orderSideContainer {
    padding-left: 0;
    border-left: none;
    border-top: 1px solid var(--color-gray-light);
    padding-top: 16px;
    padding-bottom: 32px;
  }

  .orderButton {
    width: 100%;
  }
}

@media (width <= 480px) {
  .pageWrapper {
    padding-left: 0;
    height: auto;
    min-height: 100dvh;
    grid-template-rows: 96px 64px 1fr;
  }

  .orderContainer {
    padding: 0 16px;
    overflow-y: auto;
  }

  .orderConfirm {
    height: auto;
  }

  .orderSideContainer {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .orderButton {
    width: 100%;
    font-size: 16px;
    height: 40px;
  }

  .orderTitle {
    margin-top: 16px;
  }

  .orderPoint {
    margin-top: 16px;
    flex-wrap: wrap;
  }
}