.formContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 736px;
  max-width: 100%;
  gap: 16px;
}

.cityLabel, .pointLabel {
  justify-self: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
}

.cityLabel {
  padding-right: 8px;
}

.pointLabel {
  padding-right: 5px;
}

.mapTitle{
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  margin-top: 32px;
  width: 100%;
  justify-self: start;
}

.formInputs{
  gap: 16px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.map{
  width: 736px;
  max-width: 100%;
  height: 352px;
  overflow: hidden;
}

.mapContainer{
  width: 100%;
  height: 400px;
}

.mapContainer :global(.leaflet-popup-content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.mapPopUpButton{
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  background-blend-mode: darken;
  border-width: 0px;
  color: var(--color-bg);
  padding: 4px;
  margin-top: 3px;
}

@media (width <= 1024px) {
  .formContainer {
    width: 100%;
  }

  .map {
    width: calc(100% - 32px);
    margin-right: 32px;
  }
}

@media (width <= 768px) {
  .map {
    width: 100%;
    margin-right: 0;
    height: 250px;
  }
}

@media (width <= 480px) {
  .formContainer {
    margin-top: 16px;
  }

  .map {
    height: 200px;
  }

  .formInputs {
    width: 100%;
    align-items: flex-end;
  }
  .mapTitle{
    margin-top: 8px;
  }
  .pointLabel{
    text-align: end;
    padding-right:8px;
  }
}