.formContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 736px;
  gap: 16px;
}

.formContainer label {
  justify-self: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
}

.formContainer .cityLabel {
  padding-right: 8px;
}

.formContainer .pointLabel {
  padding-right: 5px;
}

.formContainer input {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  width: 224px;
  padding-left: 8px;
  border: 0;
  border-bottom: 1px solid var(--color-gray);
}

.formContainer .mapTitle{
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  margin-top: 32px;
  width: 100%;
  justify-self: start;
}

.formInputs{
  gap: 16px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mapContainer{
  width: 736px;
  height: 352px;
  margin-top: 16px;
  overflow: hidden;
}

/* .mapContainer img{
  scale: 0.5;
} */