.modelContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.modelFilter {
  height: 16px;
  align-self: center;
}

.modelFilterForm {
  display: flex;
  gap: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  color: var(--color-black);
}

.modelFilterItem {
  display: flex;
  gap: 8px;
  align-items: center;
}

.modelListContainer {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  max-width: 736px;
  min-height: 0;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.modelListContainer::-webkit-scrollbar {
  display: none;
}

.model {
  display: grid;
  grid-template-rows: 20px 20px 1fr;
  position: relative;
  padding: 16px;
  width: 368px;
  height: 224px;
  border: 1px solid var(--color-gray-light);
  cursor: pointer;
}

.model:hover {
  border: 1px solid var(--color-gray);
}

.activeModel,
.activeModel:hover {
  border: 1px solid var(--color-main-accent);
}

.hiden {
  display: none;
}

.modelName {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: normal;
}

.modelPrice {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: normal;
  color: var(--color-gray);
}

.modelImage {
  justify-self: end;
  align-self: flex-end;
}
