.header {
  position: fixed;
  align-items: center;
  width: 64px;
  height: 100vh;
  left: 0;
  top: 0;
  background: var(--color-black);
  z-index: 10;
}
.header-right {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;
}

.text-logo {
  font-size: 30px;
  color: var(--color-main-accent);
}

.map {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #999;
}

@media (width <= 1024px) {
  .header {
    width: 65px;
  }
}

@media (width <= 768px) {
  .header {
    width: 86px;
  }
}

@media (width <= 480px) {
  .header {
    display: flex;
    background: var(--color-bg);
    width: 100%;
    height: 96px;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-right {
    display: flex;
  }
}
