<<<<<<< Updated upstream
=======
.breadCrumbsContainer{
    width: 100%;
    border-top: 1px solid var(--color-gray-light);
    border-bottom: 1px solid var(--color-gray-light);
    display: flex;
    justify-content: center;
}

>>>>>>> Stashed changes
.breadCrumbs{
    display: flex;
    flex-direction: row;
    align-items: center;
<<<<<<< Updated upstream
    padding-left: calc((100% - 1248px) / 2);
    height: 32px;
    gap:16px;
    width: 100dvw;
    border-top: 1px solid var(--color-gray-light);
    border-bottom: 1px solid var(--color-gray-light);
}

.breadCrumbs a{
=======
    height: 32px;
    gap:16px;
    width: 100dvw;
    max-width: 1248px;
}

.breadCrumbsLink{
>>>>>>> Stashed changes
    text-decoration: none;
    color: var(--color-gray);
}

<<<<<<< Updated upstream
.breadCrumbs .active{
=======
.active{
>>>>>>> Stashed changes
    color: var(--color-main-accent);
}