.breadCrumbsContainer {
  width: 100%;
  border-top: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.breadCrumbs {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  height: 32px;
  gap: 16px;
  width: 100%;
  max-width: 1248px;
}

.breadCrumbsLink {
  text-decoration: none;
  color: var(--color-gray);
}

.active {
  color: var(--color-main-accent);
}

@media (width <= 1440px) {
  .breadCrumbsContainer {
    padding: 0 64px;
  }
}

@media (width <= 1024px) {
  .breadCrumbsContainer {
    padding: 0 32px;
  }
}

@media (width <= 480px) {
  .breadCrumbs {
    height: 64px;
    gap: 8px;
  }

  .breadCrumbsContainer {
    padding: 0 16px;
  }
}
