.breadCrumbsContainer{
    width: 100%;
    border-top: 1px solid var(--color-gray-light);
    border-bottom: 1px solid var(--color-gray-light);
    display: flex;
    justify-content: center;
}

.breadCrumbs{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    gap:16px;
    width: 100dvw;
    max-width: 1248px;
}

.breadCrumbsLink{
    text-decoration: none;
    color: var(--color-gray);
}

.active{
    color: var(--color-main-accent);
}