@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #fff;
  --color-main-accent: #0ec261;
  --color-black: #151b1f;
  --color-gray: #999;
  --color-gray-light: #eee;
}

body {
  font-family: Roboto, sans-serif;
}
