.slider-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.left-switch,
.right-switch {
  width: 64px;
  height: 100%;
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  z-index: 5;
  background: none;
  border: none;
  cursor: pointer;
}

.right-switch {
  right: 0;
}

.left-switch:hover,
.right-switch:hover {
  background-color: rgb(14 194 97 / 30%);
}

.slider-nav {
  justify-self: center;
  position: absolute;
  width: 56px;
  height: 8px;
  bottom: 32px;
}

.slider-nav-list {
  list-style: none;
  display: flex;
  gap: 8px;
}

.sliderNavButton {
  border: 0;
  background: none;
}

.slider-nav-item-active {
  color: var(--color-main-accent);
}

.slider-nav-item-passive {
  color: var(--color-bg);
}
